.image-uploader {
  border: 3px dashed #edece4;
  text-align: center;
  overflow: hidden;
  margin: 0 0;
  padding: 50px 60px; }
  .image-uploader .media:before {
    font-size: 60px;
    font-family: 'FontAwesome';
    color: #e7e6db;
    content: '\f03e'; }
  .image-uploader img {
    cursor: pointer;
    width: 275px;
    height: 200px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 20px;
    right: 5px;
    filter: alpha(Opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transition: all 1s; }
  .image-uploader input[type="file"] {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 0;
    filter: alpha(Opacity=0);
    -moz-opacity: 0;
    opacity: 0; }
  .image-uploader .close {
    display: none;
    position: absolute;
    top: 5px;
    left: 25px; }

.article-edit input.title {
  background: transparent;
  padding: 4px;
  width: 100%;
  border: none;
  outline: none;
  opacity: 0.6; }

.cke_bottom {
  border: 0; }

.hub {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff; }
  .hub .hub-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 30%;
    overflow: hidden;
    border: solid #edece4 1px;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none; }
    .hub .hub-nav .search {
      position: absolute;
      background: #fff;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 20px;
      height: 55px;
      z-index: 999; }
      .hub .hub-nav .search .btn-add {
        display: block;
        height: 25px;
        width: 25px;
        background: #9FBB58;
        border: solid #9FBB58 1px;
        border-radius: 5px;
        text-align: center;
        color: #fff; }
        .hub .hub-nav .search .btn-add i {
          vertical-align: middle; }
        .hub .hub-nav .search .btn-add:hover {
          background: #849f41; }
    .hub .hub-nav .list-group {
      position: absolute;
      top: 55px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto; }
      .hub .hub-nav .list-group .list a {
        display: block;
        text-decoration: none;
        padding: 10px 25px;
        border: solid #edece4 1px;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: none;
        color: rgba(0, 0, 0, 0.4); }
        .hub .hub-nav .list-group .list a:hover {
          background: rgba(237, 236, 228, 0.5); }
        .hub .hub-nav .list-group .list a.active {
          background: #edece4;
          color: rgba(0, 0, 0, 0.7); }
        .hub .hub-nav .list-group .list a p {
          margin-top: 20px; }
      .hub .hub-nav .list-group .list a:last-child {
        border-bottom-style: solid; }
      .hub .hub-nav .list-group .pagination {
        margin-left: 25px; }
        .hub .hub-nav .list-group .pagination a {
          color: #9FBB58; }
      .hub .hub-nav .list-group .pagination > .active > span,
      .hub .hub-nav .list-group .pagination > .active > span:focus,
      .hub .hub-nav .list-group .pagination > .active > span:hover,
      .hub .hub-nav .list-group .pagination > .active > a,
      .hub .hub-nav .list-group .pagination > .active > a:focus,
      .hub .hub-nav .list-group .pagination > .active > a:hover {
        background-color: #9FBB58;
        border-color: #9FBB58; }
  .hub .hub-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 70%;
    overflow: auto; }
    .hub .hub-content h2 {
      margin: 15px 0; }
    .hub .hub-content .action-bar {
      display: inline; }
    .hub .hub-content .panel-body {
      padding: 30px; }

.settings {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff; }
  .settings .settings-navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 25%;
    overflow: auto; }
    .settings .settings-navbar ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      border: solid #edece4 1px;
      border-top-style: none;
      border-left-style: none;
      border-bottom-style: none; }
      .settings .settings-navbar ul li {
        background: #FFF; }
        .settings .settings-navbar ul li:hover {
          background: #edece4; }
        .settings .settings-navbar ul li a {
          display: block;
          padding: 20px 0 20px 50px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.4); }
          .settings .settings-navbar ul li a i {
            margin-right: 10px; }
      .settings .settings-navbar ul .active {
        border: solid #edece4 1px;
        border-left-style: none;
        border-right-style: none;
        margin-right: -1px;
        font-weight: bold; }
        .settings .settings-navbar ul .active a {
          color: rgba(0, 0, 0, 0.7); }
  .settings .settings-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 30px;
    width: 75%;
    overflow-x: hidden;
    overflow-y: auto; }
    .settings .settings-content .profile .cover {
      background-size: cover;
      height: 200px;
      margin-bottom: 50px; }
      .settings .settings-content .profile .cover input[type="file"] {
        display: none; }
      .settings .settings-content .profile .cover .avatar {
        position: relative;
        top: 130px;
        left: 53px; }
        .settings .settings-content .profile .cover .avatar img, .settings .settings-content .profile .cover .avatar .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 95px;
          height: 95px;
          border: solid 4px #FFF; }
        .settings .settings-content .profile .cover .avatar .mask {
          border-radius: 50%;
          background: #000;
          filter: alpha(Opacity=0);
          -moz-opacity: 0;
          opacity: 0;
          transition: all 0.3s; }
          .settings .settings-content .profile .cover .avatar .mask .toolbar {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transition: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); }
            .settings .settings-content .profile .cover .avatar .mask .toolbar a {
              font-size: 1.5em;
              color: #fff;
              text-decoration: none; }
          .settings .settings-content .profile .cover .avatar .mask:hover {
            filter: alpha(Opacity=0.7);
            -moz-opacity: 0.7;
            opacity: 0.7; }
      .settings .settings-content .profile .cover .toolbar {
        position: relative;
        top: 150px;
        left: 70%; }
      .settings .settings-content .profile .cover #btn-reset-cover, .settings .settings-content .profile .cover #btn-reset-avatar {
        display: none; }

.alerts-panel {
  position: fixed;
  left: 10px;
  bottom: 0px;
  z-index: 999; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.7);
  height: 60px; }
  .navbar .navbar-header {
    height: 60px; }
    .navbar .navbar-header .navbar-brand {
      height: 60px;
      padding: 20px 15px; }
    .navbar .navbar-header .navbar-toggle {
      margin-top: 15px; }
  .navbar .navbar-collapse {
    background: #242628; }
  .navbar .nav {
    margin: 14px 10px;
    font-size: 13px;
    font-weight: 200; }
    .navbar .nav li {
      margin-right: 8px; }
      .navbar .nav li > a {
        padding: 6px 10px; }
        .navbar .nav li > a i {
          margin-right: 8px; }
        .navbar .nav li > a:hover {
          height: 100%;
          display: block;
          border-radius: 3px;
          background: #000000; }
      .navbar .nav li > .dropdown-menu li a {
        margin-left: 5px; }
        .navbar .nav li > .dropdown-menu li a:hover {
          height: 100%;
          display: block;
          border-radius: 3px;
          background: rgba(0, 0, 0, 0.2); }

body {
  background-color: #fff !important;
  padding-top: 75px;
  font-weight: 300; }

textarea {
  resize: none; }

.title {
  border: 0px;
  margin: 0px;
  padding: 6px 12px;
  font-size: 25px;
  height: 50px; }
  .title:focus {
    outline: 0;
    border: 0px; }

/*# sourceMappingURL=streamlet-admin.css.map */