
.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	color: $navbar-color;
	height: $navbar-height;

	.navbar-header {
		height: $navbar-height;

		.navbar-brand {
			height: $navbar-height;
			padding: 20px 15px;
		}

		.navbar-toggle {
			margin-top: 15px;
		}
	}

	.navbar-collapse {
		background: $navbar-background-color;
	}

	.nav {
		margin: 14px 10px;
		font-size: 13px;
		font-weight: 200;

		li {
			margin-right: 8px;

			> a {
				padding: 6px 10px;

				i {
					margin-right: 8px;
				}
				
				&:hover {
					height: 100%;
					display: block;
					border-radius: 3px;

					background: #000000;
				}
			}

			> .dropdown-menu {
				li {
					a {
						margin-left: 5px;

						&:hover {
							height: 100%;
							display: block;
							border-radius: 3px;
							background: fade-out(#000000, .8);
						}
					}
				}
			}
		}
	}
}