$background-color: #fff;
$background-inverse-color: #242628;
$color: #fff;
$focus-background-color: fade-out(#fff, .8);
$input-focus-background-color: $focus-background-color;
$input-background-color: #3c4043;

$navbar-background-color: #242628;
$navbar-height: 60px;
$navbar-color: fade-out(#000000, .3);

$border-color: #edece4;
$box-shadow-color: #edece4;

// alert panel
// 
$alert-panel-left: 10px;
$alert-panel-bottom: 0;
$alert-panel-z-index: 999;