@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// variables
@import "variables";

@import "../mixins";

@import "articles-image-uploader";
@import "article-edit";
@import "hub";
@import "settings";

@import "../alerts-panel";
@import "navbar";

body {
	background-color: $background-color !important;
  	padding-top: 75px;
  	font-weight: 300;
}

textarea {
	resize: none;
}

.title {
	border: 0px;
	margin: 0px;
	padding: 6px 12px;
	font-size: 25px;
	height: 50px;

	&:focus {
		outline: 0;
		border: 0px;
	}
}