.container-float {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 200vh;

    .content {
        width: auto;
        padding-top: 85px;
        padding-right: 40px;
        padding-left: 100px;
        margin-right: 400px;

        @media(max-width: $screen-md) {
            margin-right: 0;
            padding-left: 80px;
            padding-right: 80px;
        }

        @media(max-width: $screen-sm) {
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .content-footer {
        .col-md-6 {
            @media(max-width: $screen-md) {
                width: 50%;
                float: left;
            }

            @media(max-width: $screen-sm) {
                width: 100%;
            }
        }

        @media(min-width: $screen-md) {
            display: none;
        }
    }

    .sidebar {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;

        border-left: solid 1px $line-color;
        background: $sidebar-bg;
        padding-top: 85px;
        padding-left: 10px;
        padding-right: 10px;
        width: 400px;
        box-sizing: border-box;

        @media(max-width: $screen-md) {
            display: none;
        }

        @media(max-width: $screen-sm) {
            display: none;
        }
    }

    .sidebar-content {
        width: 380px;
        margin: auto;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 50px;
        margin-right: 400px;

        @media(max-width: $screen-md) {
            margin-right: 0;
        }

        @media(max-width: $screen-sm) {
            margin-right: 0;
        }
    }

    .fixed {
        position: fixed;
        bottom: 0;
    }
}