
.pagination {
}

.pagination li > a,
.pagination li > span {
    color: $color;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.pagination li > a:hover {
    background-color: $background-color;
}

.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    background-color: $active-color;
    border-color: $active-color;
}