body {
    background-color: $bg !important;
    color: $color;
    // padding-top: $padding-top;
    line-height: $line-height;
    // font-weight: $font-weight;
}

a {
    color: $color;
    @include transition(color 0.4s);

    &:hover {
        color: $primary-color;
    }
}