.toolbar {


}

.toolbar-right-bottom {
	position: fixed;
	right: 20px;
	bottom: 20px;
	
	.scroll-to-top {
		text-align: center;
		color: fade-out(#fff, .2);
		background: fade-out(#000, .5);
		width: 30px;
		height: 30px;
		cursor: pointer;
		border-radius: 2px;
		display: none;

		&:hover {
			background: #000;
			color: $active-color;
		}
	}
}