// default line height
$line-height: 1.2;
// default padding top when navbar fixed top
$padding-top: 70px;
// default font weight
$font-weight: 300;
// default background color
$bg: #fff;
// default background dark color
$background-color-dark: #242628;
// default color
$color: #666;
// default primary color
$primary-color: #57ad68;

$line-color: #e8e8e8;


// Small screen / tablet
$screen-sm: 768px !default;

// Medium screen / desktop
$screen-md: 992px !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;



$sidebar-bg: #fafafa;
$sidebar-padding: 20px 0;

// navbar
// 
// navbar default padding
$navbar-padding: 10px;
// navbar background color
$navbar-bg: #fff;
// navbar default opacity
$navbar-opacity: 0.9;
// navbar brand margin top
$navbar-brand-margin-top: -10px;
// navbar brand small text font size
$navbar-brand-small-font-size: 10px;
// navbar search box width
$navbar-search-width: 200px;
// navbar search box padding
$navbar-search-padding: 0 5px;


// widget 
// 
// default widget space
$widget-space: 0;
// default widget padding
$widget-padding: 20px;
// default widget background color
$widget-bg: transparent;
// default widget border color
$widget-border: #e7e7e7 1px;

// widget article
// 
$widget-article-thumbnail-padding: 10px 0;
$widget-article-thumbnail-max-height: 200px;
$widget-article-content-padding: 10px 0;
$widget-article-actions-margin-bottom: 50px;

// widget profile
// 
$widget-profile-padding: 0;
$widget-profile-cover-height: 110px;
$widget-profile-cover-avatar-img-top: 40px;
$widget-profile-cover-avatar-img-left: 20%;
$widget-profile-cover-avatar-img-margin-left: -47px;
$widget-profile-cover-avatar-img-width: 95px;
$widget-profile-cover-avatar-img-height: 95px;
$widget-profile-cover-avatar-img-border: solid 4px #FFF;
$widget-profile-bio-padding: 10px 20px 30px 20px;

// footer
// 
$footer-padding: 30px 0;

// toolbar
// 
$toolbar-right: 20px;
$toolbar-bottom: 20px;
$toolbar-scroll-to-top-width: 30px;
$toolbar-scroll-to-top-height: 30px;
$toolbar-scroll-to-top-border-radius: 15px;

// alert panel
// 
$alert-panel-left: 10px;
$alert-panel-bottom: 0;
$alert-panel-z-index: 999;
