.widget-article {
    
}

.article {
    .article-header {
        .article-meta > a {
            margin-right: 20px;
        }
    }

    .article-thumbnail {
        padding: $widget-article-thumbnail-padding;

        img {
            width: auto;
            max-width: 100%;
            max-height: $widget-article-thumbnail-max-height;
            @include scale(1);
            @include transition(all 1s);

            &:hover {
                @include scale(1.05);
            }
        }
    }

    .article-content {
        padding: $widget-article-content-padding;
        border-bottom: solid 1px #e8e8e8;
    }

    .article-actions {
        margin-bottom: $widget-article-actions-margin-bottom;

        .read-more {
            border-top: solid 1px $active-color;
            margin-top: -1px;
            padding: 10px 0 10px 0;
        }

        .share {
            padding: 10px 0 10px 0;
            margin-right: 30px;

            span {
                margin-right: 10px;
            }

            a {
                margin-right: 3px;
            }
        }
    }
}