.widget-article {
    position: relative;
}

.detail {
    top: 80px;
    margin: auto;

    @media(min-width: $screen-md) {
        width: 760px;
    }
}

.article {
    @media(min-width: $screen-lg) {
        width: 50%;
        float: left;
    }

    .header {
        border: none;

        .avatar img {
            width: 36px;
            height: 36px;
        }

        .article-title {
            margin-top: -10px;
        }

        .meta {
            float: none;
            padding-left: 50px;

            .meta-title {
                font-size: 15px;
                
                a {
                    color: $primary-color;
                }
            }

            .time {
                font-size: 10px;
            }
        }
    }

    .article-thumbnail {
        padding: $widget-article-thumbnail-padding;

        img {
            width: auto;
            max-width: 100%;
            max-height: $widget-article-thumbnail-max-height;
            // @include scale(1);
            // @include transition(all 1s);

            // &:hover {
            //     @include scale(1.05);
            // }
        }
    }

    .article-cover {
        img {
            width: auto;
            max-width: 100%;
        }
    }

    .article-content {
        padding: $widget-article-content-padding;
        
        p {
            line-height: 1.5em;
            font-family: Georgia, 楷体;
        }
    }

    .article-actions {
        margin-bottom: $widget-article-actions-margin-bottom;
        border-top: solid 1px #e8e8e8;

        .read-more {
            border-top: solid 1px $primary-color;
            margin-top: -1px;
            padding: 10px 0 10px 0;
        }

        .share {
            padding: 10px 0 10px 0;
            margin-right: 30px;

            span {
                margin-right: 10px;
            }

            a {
                margin-right: 3px;
            }
        }
    }
}