.widget-categories {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            i {
                margin-right: 5px;
                @include opacity(0.5);
            }
        }
    }
}